body {
    background-color: rgb(226, 226, 190);
    font-family: Arial;
    font-size:20px;
}

h1{
    font-size: 40px;
}

.first{
    color: red;
}

#your-name{
    background-color: hsl(60, 100%, 50%);
    border: 5px solid #1d1c1c44;
}